@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #e8e8e8;
    font-family: 'DM Mono', monospace;
    color: #00334e;
    margin: 0;
    padding: 0;
}

html,
body,
#root,
.App {
    height: 100%;
    display: flex;
    justify-content: center;
}

.loader {
    display: grid;
    place-content: center;
  }