@import 'Reset.css';
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap");

* {
    box-sizing: border-box;
    text-decoration: none;
}

body,
.Home,
.About,
.Detail {
    background-color: #e8e8e8;
    font-family: 'DM Mono', monospace;
    color: #00334e;
}

.About,
.Detail {
    display: flex;
    justify-content: center;
    align-items: center;
}